html {
    background-color: lightblue
}

body {
    margin: 8px auto;
    width: 100%;
    max-width: 1024px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

#mainHeading {
    color: red;
    text-transform: uppercase;
    font-size: 55 px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

#testP.funParagraph {
    color: green;
    font-style: bold;
    background-color: rgb(204, 192, 252);
    margin-bottom: 20px;
}

section {
    display: block;
}
h1 {
    color: #000000;
    font-size: 35px;
    text-transform: uppercase;
}

h2 {
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
}

h3 {
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    margin: 10px;
    padding: 5px;
    line-height: 2;
    text-align: justify;
    text-transform: uppercase;
    
}

footer {
    text-align: center;
    max-width: 1024px;
    font-weight: bold;
    padding: 10px;
    background-color: lightslategrey;
    font-size: 14px;
    bottom: 0;
    width: 1024 px;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 400px;
    padding: 5px;
}
